<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@<%= userData && userData[0] && userData[0].nickname ? userData[0].nickname : 'Usuario no encontrado' %> |
            Tagnet</title>
    <link rel="stylesheet" href="/styles/plantilla.css">
    <link rel="icon" href="/static/favicon.ico">
</head>

<body>
    <div id="container">
        <div>
            <img class="logo" src="/static/logoLight.png" alt="logo">
        </div>
        <% if (userData && userData.length> 0) { %>
            <div class="imageBanner-container">
                <img class="img2" src="http://192.168.1.30:8080<%= userData[0].banner_image %>" alt="banner">
            </div>
            <div class="imageProfile-container">
                <img class="img" src="http://192.168.1.30:8080<%= userData[0].profile_image_url %>"
                    alt="Imagen de Perfil">
            </div>
            <div class="name-container">
                <h1 class="name">
                    <%= userData[0].name %>
                </h1>
            </div>
            <div class="description-container">
                <p class="description">
                    <%= userData[0].description %>
                </p>
            </div>
            <div class="app-container">
                <div class="button-container">
                    <% for (const key in linksUser) { %>
                        <div class="container2">
                            <button class="button" data-value="<%= linksUser[key] %>">
                                <img class="imageButtons" src="<%= imageMappings[key] %>" alt="<%= key %> Image">
                            </button>
                            <p class="button-label">
                                <%= key %>
                            </p>
                        </div>
                        <% } %>
                </div>
            </div>

            <script>
                const buttons = document.querySelectorAll('.button');

                buttons.forEach(button => {
                    button.addEventListener('click', function () {
                        const value = this.getAttribute('data-value');
                        if (value) {
                            window.open(value, '_blank'); // Abre el enlace en una nueva pestaña
                        }
                    });
                });
            </script>
    </div>
    <% } else { %>
        <p>Usuario no encontrado.</p>
        <% } %>
            </div>
</body>

</html>